################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/visual-studio-repo2/FileContentIndex/ed5c7f3c-6f05-4677-97ae-581ace9b4326.vsidx
/.vs/visual-studio-repo2/FileContentIndex/96ccb7f2-0f57-4ebd-a2be-9288e3494a8c.vsidx
/.vs/visual-studio-repo2/FileContentIndex/79015d0b-36e0-485a-bfdc-61596b1650dd.vsidx
/.vs/visual-studio-repo2/FileContentIndex/00c8fab7-17ef-4cca-9760-1593cf10956a.vsidx
/.vs/visual-studio-repo2/FileContentIndex/fd1350e3-915e-4fc7-8df0-51defd843d85.vsidx
*.vsidx
