################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/visual-studio-repo2/FileContentIndex/ed5c7f3c-6f05-4677-97ae-581ace9b4326.vsidx
/.vs/visual-studio-repo2/FileContentIndex/96ccb7f2-0f57-4ebd-a2be-9288e3494a8c.vsidx
